@font-face {
    font-family: 'Frutiger LT Arabic 65';
    src: url('FrutigerLTArabic-65Bold.woff2') format('woff2'),
        url('FrutigerLTArabic-65Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

